@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("ShowPredictions", "Home",
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "POST",
                                                        UpdateTargetId = "predsDiv",
                                                        InsertionMode = InsertionMode.Replace,
                                                        LoadingElementId = "waitimage"
                                                    }))
{
    <div class="row">
        <h2>Enter two international teams</h2>
        <div class="col-md-3">
            <h4>Team 1</h4>
            <p>@Html.TextBox("team1")</p>
        </div>

        <div class="col-md-3">
            <h4>Team 2</h4>
            <p>@Html.TextBox("team2")</p>
        </div>

    </div>
    <br />
    <div class="row">
        <input type="submit" value="Show odds" class="btn btn-primary btn-lg" />
    </div>

}

<br />
<img id="waitimage" src="~/Images/ajax-loader.gif" style="display:none" />
<div id="predsDiv" />



        <script type="text/javascript">
    $(document).ready(function () {
        $("#team1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "Get",
                    url: "@(Url.Action("AutocompleteTeam", "Home"))",
                    data: { "term": request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1,
        }
        );

        $("#team2").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "Get",
                    url: "@(Url.Action("AutocompleteTeam", "Home"))",
                    data: { "term": request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1,
        }
    );
    });
        </script>



