@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <p class="lead">Enter the teams</p>
    @using (Ajax.BeginForm("ShowPredictions", "Home",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "div1",
                                        InsertionMode = InsertionMode.Replace,
                                        LoadingElementId = "waitimage"
                                    }))
    {
        <div class="col-md-3">
            <h3>Team1</h3>
            <p>@Html.TextBox("team1")</p>
        </div>

        <div class="col-md-3">
            <h3>Team2</h3>
            <p>@Html.TextBox("team2")</p>
        </div>
        <input type="submit" value="Calculate" />
    }
</div>

<img id="waitimage" src="~/Images/ajax-loader.gif" style="display:none" />
<br />
<div id="div1">
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#team1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "Get",
                    url: "@(Url.Action("AutocompleteTeam", "Home"))",
                    data: { "term": request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1,
        }
        );

        $("#team2").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "Get",
                    url: "@(Url.Action("AutocompleteTeam", "Home"))",
                    data: { "term": request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1,
        }
    );
    });
</script>



